!
! Zebra configuration
!
frr defaults {{ frr_profile }}
!
hostname {{ ansible_facts['hostname'] }}
log syslog informational
!
! staticd config
{{ frr_staticd_routes | join('\n') }}
!
!
! bgpd config
{{ frr_bgpd_config | join('\n') }}
!
line vty
!